@font-face {
	font-family: 'ArialMT';
 	src: url('../fonts/arialmt.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }

 @font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lucida_sans_unicode-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
 	font-family: 'Lucida Sans Unicode', sans-serif;
  	font-size:14px;
  	background: #fff;
}

header{
	width: 910px;
	margin: 0 auto;
}

section{
	font-size: 0;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 10px;
	height: 20px;
	margin-right: 11px;
	color: #5e696d;
}
section span{
	font-family: ArialMT;
	font-size: 18px;
	letter-spacing: 0.5px;
}
.circle{
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: top;
	margin: -2px 2px 0 9px;
	border-radius: 50%;
	background: rgb(12,50,86); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(12,50,86,1) 0%, rgba(18,67,103,1) 50%, rgba(30,100,132,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(12,50,86,1) 0%,rgba(18,67,103,1) 50%,rgba(30,100,132,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(12,50,86,1) 0%,rgba(18,67,103,1) 50%,rgba(30,100,132,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3256', endColorstr='#1e6484',GradientType=0 ); /* IE6-9 */

}

.circle img{
	display: inline-block;
	margin: 0 2px;
}


header form{
	display: inline-block;
}

header ul{
	height: 25px;
	margin: 16px 0 12px;
	font-size: 0;
	border-radius: 4px;
	-webkit-box-shadow: 2px 3px 5px rgba(89,109,128,1);
	-moz-box-shadow: 2px 3px 5px rgba(89,109,128,1);
	box-shadow: 2px 3px 5px rgba(89,109,128,1);
   	background: rgb(32,105,136);
   	background: -moz-linear-gradient(top,  rgba(32,105,136,1) 0%, rgba(28,94,126,1) 21%, rgba(18,67,102,1) 58%, rgba(12,51,87,1) 100%); /* FF3.6-15 */
   	background: -webkit-linear-gradient(top,  rgba(32,105,136,1) 0%,rgba(28,94,126,1) 21%,rgba(18,67,102,1) 58%,rgba(12,51,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
   	background: linear-gradient(to bottom,  rgba(32,105,136,1) 0%,rgba(28,94,126,1) 21%,rgba(18,67,102,1) 58%,rgba(12,51,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */

}

header li{ 
	display: inline-block;
	vertical-align: middle; 
	margin: 4px 0;
}

header li img{
	vertical-align: top;
	margin: 0 3px 0 7px;
}

[type="text"]{
	margin-right: 8px;
	width: 99px;
	height: 12px;
	font-size: 11px;
	border: 1px solid #dee0e0;
	padding: 1px 9px 2px 4px;
	letter-spacing: 0.5px;
}

[type="password"]{
	width: 100px;
	height: 12px;
	font-size: 11px;
	border: 1px solid #dee0e0;
	padding: 0 8px 2px 4px;
	letter-spacing: 0.25px;
	margin-bottom: 1px;
}


input::-webkit-input-placeholder {color:#97a2a6;}
input::-moz-placeholder          {color:#97a2a6;}
input:-moz-placeholder           {color:#97a2a6;}
input:-ms-input-placeholder      {color:#97a2a6;}


header li>a{
	display: inline-block;
	font-size: 11px;
	text-decoration: none;
	color: white;
}

header [type="submit"]{
	font-size: 11px;
	color: white;
	letter-spacing:0.25px;
	line-height: 10px;
	border: none;
	background: none;
	height: 10px;
	padding: 0 4px 0 8px;
	border-right: 1px solid #4b6882;
	cursor: pointer;
}


header li:nth-child(4) a{
	height: 10px;
	padding-left: 5px;
	margin-right: 19px;
	letter-spacing: -0.25px;
	border-left: 1px solid #d3d9de;
}

header li:last-child span{
	display: inline-block;
	height: 12px;
	font-size: 12px;
	color: #bfbfbf;
	margin-right: 10px;
	padding: 2px 0 0 2px;
	border-bottom: 1px solid #7c8794;
}

.navi{ 
	display: inline-block;
	vertical-align: middle;
	margin: 7px 0 0 13px;
	padding: 2px 8px 3px 4px;
	border: 1px solid #c1c8cb;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(89,109,128,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(89,109,128,0.75);
	box-shadow: 0px 0px 2px 0px rgba(89,109,128,0.75);
	font-size: 0;
	position: relative;
}

.navi a{
	display: block;
	float:left;
	text-decoration: none;
	height: 11px;
	margin: 0 4px 0;
}

.navi a:nth-child(2){
	padding-top: 2px;
}

.navi a:last-child{
	padding-top: 3px;
	margin-left: 5px;
}

header>img{
	display: inline-block;
	vertical-align: bottom;
	margin: 0 auto;
}

/*------------------------------Menu------------------------------*/
nav{
	width: 911px;
	margin: 6px auto;
}

nav ul{
	padding: 4px 0 7px 127px;
	height: 23px;
	background: rgb(77,86,99); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(77,86,99,1) 0%, rgba(80,88,96,1) 3%, rgba(70,77,84,1) 6%, rgba(45,50,54,1) 13%, rgba(42,46,50,1) 16%, rgba(19,21,23,1) 55%, rgba(7,8,9,1) 81%, rgba(1,1,1,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(77,86,99,1) 0%,rgba(80,88,96,1) 3%,rgba(70,77,84,1) 6%,rgba(45,50,54,1) 13%,rgba(42,46,50,1) 16%,rgba(19,21,23,1) 55%,rgba(7,8,9,1) 81%,rgba(1,1,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(77,86,99,1) 0%,rgba(80,88,96,1) 3%,rgba(70,77,84,1) 6%,rgba(45,50,54,1) 13%,rgba(42,46,50,1) 16%,rgba(19,21,23,1) 55%,rgba(7,8,9,1) 81%,rgba(1,1,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5663', endColorstr='#010101',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 7px 0px rgba(44,52,90,0.75);
	-moz-box-shadow: 2px 2px 7px 0px rgba(44,52,90,0.75);
	box-shadow: 2px 2px 7px 0px rgba(44,52,90,0.75);
}

nav li{
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 6px 12px 0 12px;
	height: 19px;
	border-radius: 12px;
	text-decoration: none;
	color: #b1bcc0;
	text-transform: uppercase;
	transition: .2s;
}

nav ul li:first-child a {
	padding: 6px 16px 0 20px;
}

nav ul li:nth-child(5) a {
	padding: 6px 12px 0 8px;
}

nav a:hover{
	color: white;
	background: rgb(32,105,136); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(32,105,136,1) 0%, rgba(30,99,131,1) 13%, rgba(17,65,101,1) 61%, rgba(12,51,87,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(32,105,136,1) 0%,rgba(30,99,131,1) 13%,rgba(17,65,101,1) 61%,rgba(12,51,87,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(32,105,136,1) 0%,rgba(30,99,131,1) 13%,rgba(17,65,101,1) 61%,rgba(12,51,87,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */
	transition: .2s;
}

nav li:last-child{
	margin-left: 79px;
}

nav span{
	display: inline-block;
	vertical-align: top;
	padding: 1px 3px 0 3px;
	font-family: ArialMT;
	font-size: 11px;
	letter-spacing: 0.25px;
	color: #929b9f;
}

nav span:last-child{
	letter-spacing: 0.5px;
}

.kol{
	font-size: 12px;
	color: #0d5a8f;
	position: relative;
	margin-top: -1px;
}

.kol:before{
	content:""; 
  	position: absolute;
  	bottom: -2px;
   	right: 67px;
   	width: 21px;
   	height: 17px;
  	background: url(../img/koshyk.png); 
}

.summ{
	margin: -1px 0 0 7px;
	font-size: 12px;
	color: #0d5a8f;
}
/*--------------------------------------------------------------------------------------*/
.find{
	width: 910px;
	height: 135px;
	margin: 13px auto;
}

.content {
	width: 911px;
	margin: 0 auto;
}

/*----------------------------------------Left aside-----------------------------------*/
aside{
	float: left;
	margin-top: 4px;
}

aside>ul>li{
	position: relative;
}

aside>ul>li>span{
	display: block;
	border: 1px solid #8b979c;
	border-radius: 14px;
	text-transform: uppercase;
	color: #114165;
	padding: 8px 0 5px 31px;
	width: 119px;
	
}

aside>ul>li:first-child span{
	font-size: 13px;
	letter-spacing: -0.15px;
	margin-bottom: 13px;
	padding: 6px 0 6px 27px;
	width: 156px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(191,191,191,0.75);
	-moz-box-shadow: 0px 3px 3px 0px rgba(191,191,191,0.75);
	box-shadow: 0px 3px 3px 0px rgba(191,191,191,0.75);
}

aside>ul ul{
	margin: 0 0 -2px 52px;
}

aside>ul ul>li{
	list-style-image: url('../img/li_right_shape.png');
	transition: .2s;
}

aside li a{
	margin-left: -4px;
	text-decoration: none;
	font-size: 13px;
	color: #465961;
	line-height: 25px;
	letter-spacing: -0.15px;
	transition: .2s;
}

aside .catalog li a:hover{
	text-decoration: underline;
	font-size: 14px;
	color: #0c3256;
	transition: .2s;
}

aside>ul.catalog ul>li:hover{
	list-style-image: url('../img/li_right_hover.png');
	transition: .2s;
}

aside .circle{
	position: absolute;
	right: 158px;
	bottom: 3px;
}

aside .circle img{
	margin: 3px 4px;
}

aside .hole{
	width: 22px;
	height: 22px;
	margin: 0;
	position: absolute;
	right: 157px;
	bottom: 104px;
}

.hole div{
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	background: white;
	margin: 5px 0 0 5px;
}

/*-----------------------------------Main-----------------------------------*/
main{
	float: left;
	width: 475px;
	padding: 15px 30px 30px 22px;
	margin: 0 9px 0 7px;
	border-radius: 3px;
	background: rgb(229,231,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,231,232,1) 0%, rgba(219,224,226,1) 14%, rgba(186,198,203,1) 44%, rgba(168,183,190,1) 65%, rgba(155,173,181,1) 83%, rgba(147,167,176,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(229,231,232,1) 0%,rgba(219,224,226,1) 14%,rgba(186,198,203,1) 44%,rgba(168,183,190,1) 65%,rgba(155,173,181,1) 83%,rgba(147,167,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(229,231,232,1) 0%,rgba(219,224,226,1) 14%,rgba(186,198,203,1) 44%,rgba(168,183,190,1) 65%,rgba(155,173,181,1) 83%,rgba(147,167,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0',GradientType=0 ); /* IE6-9 */

}

.tires{
	float: left;
	margin: 2px 30px 43px 0;
}

.tires figure{
	width: 136px;
	padding: 5px 0;
	background: #fff;
	border: 1px solid #b0b9bc;
	border-radius: 8px;
	position: relative;
}

.tires img{
	display: block;
	margin: 0 auto;
}

.tires h2{
	text-align: center;
	font-size: 15px;
	color: #206988;
	letter-spacing: 0.15px;
	line-height: 13px;
}

.tires h3{
	text-align: center;
	font-size: 13px;
	color: #1f2528;
	letter-spacing: -0.15px;
	line-height: 13px;
	margin: 0 0 1px 7px;
}

.tires figcaption{
	position: absolute;
	bottom:-24px;
	right: -12px;
	display: inline-block;
	width: 110%;
	margin: 3px 0;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.25px;
	font-size: 16px;
	color: #114165;
}

.tires figcaption span{
	font-size: 12px;

}

.tires:nth-child(3n){
	margin-right: 0;
}

.tires:nth-child(3n) h2{
	margin-left: 5px;
}

.tires:nth-child(3n) h3{
	margin-left: 0;
}

.tires:nth-child(7),
.tires:nth-child(8),
.tires:nth-child(9){
	margin-bottom: 18px;
	margin-top: 4px;
}

.tires:nth-child(2) h2,
.tires:nth-child(5) h2,
.tires:nth-child(8) h2{
	margin-left: 5px;
}

.tires:nth-child(2) h3,
.tires:nth-child(5) h3,
.tires:nth-child(8) h3{
	margin-left: 5px;
}

/*-----------------------------------Right aside---------------------------------*/
.brends{
	margin-top: 2px;
}

.brends>ul>li span{
	margin-bottom: 14px;
	padding: 7px 0 5px 30px;
	width: 105px;
	margin-left: 13px;
}

.brends>ul>li:first-child span{
	font-size: 14px;
	margin-bottom: 14px;
	margin-left: 0;
	padding: 5px 0 5px 30px;
	width: 151px;
}

.brends>ul ul>li{
	list-style: none;
}

.brends label{
	margin-left: 2px;
	font-size: 13px;
	color: #465961;
	line-height: 25px;
}

.brends .circle{
	right: 156px;
	bottom: 3px;
}

.brends .hole{
	right: 142px;
	bottom: 80px;
}

.brends>ul>li:nth-child(3) .hole{
	right: 144px;
	bottom: 83px;
}

.brends>ul>li:nth-child(3) ul{
	margin-top: -8px;
}

.brends>ul>li:last-child input{
	width: 82px;
	margin: 5px 0 0 23px;
	padding: 7px 0 7px 1px;
	font-family: ArialMT;
	font-size: 11px;
	color: #e5e9ea;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border: none;
	background: rgb(31,103,135); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(31,103,135,1) 0%, rgba(30,99,131,1) 10%, rgba(17,65,101,1) 62%, rgba(13,52,89,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(31,103,135,1) 0%,rgba(30,99,131,1) 10%,rgba(17,65,101,1) 62%,rgba(13,52,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(31,103,135,1) 0%,rgba(30,99,131,1) 10%,rgba(17,65,101,1) 62%,rgba(13,52,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0d3459',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	-webkit-box-shadow: 3px 4px 3px 0px rgba(191,191,191,0.75);
	-moz-box-shadow: 3px 4px 3px 0px rgba(191,191,191,0.75);
	box-shadow: 3px 4px 3px 0px rgba(191,191,191,0.75);
	border-radius: 10px;
}



.brends>ul ul{
	margin: -11px 0 8px 21px;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.brandlogo{
	width: 910px;
	margin: 38px auto 23px;
	text-align: center;
}

.brandlogo li{
	display: inline-block;
}

.brandlogo a{
	display: inline-block;
	padding: 4px 4px 0 5px;
	vertical-align: top;
}

.brandlogo li:nth-child(6) a{
	padding: 0 4px 0 5px;
}

/*------------------------------------Footer-----------------------------------*/
footer{
	width: 910px;
	height: 78px;
	margin: 0 auto;
	padding: 11px 0;
	background: #213a4d;
	font-family: ArialMT;
}

footer ul{
	width: 305px;
	margin: 0 auto;
	font-size: 0;
}

footer ul li{
	display: inline-block;
}

footer ul li a{ 
	display: inline-block;
	padding: 0 11px 0 12px;
	text-decoration: none;
	font-size: 12px;
	color: #bec6c9;
	border-left: 1px solid #8d989f;
	border-right: 1px solid #7a878f;
	transition: .2s;
	letter-spacing: 0.25px;
}

footer ul li a:hover{
	color: #52abcb;
	transition: .2s;
}

footer ul li:first-child a{ 
	border-left: none;
	padding-left: 8px;
}

footer ul li:last-child a{ 
	padding-left: 16px;
	padding-right: 0;
	border-left: 1px solid #afb7bc;
	border-right: none;
}

footer span{
	display: block;
	margin: 17px auto;
	width: 155px;
	font-size: 10px;
	color: #7f4740;
	letter-spacing: 0.25px;
}